@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,900&display=swap');
*{
    font-family: 'Poppins',cursive;
}
body{
    color: azure;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
}
.greetings{
    font-size: 6rem;
    font-weight: 900;
}
.greetings > span{
    animation: glow 2.5s ease-in-out infinite;
}
@keyframes glow{
    0%, 100%{
        color: #fff;
        text-shadow: 0 0 12px #f154b0, 0 0 50px #ff6aaf, 0 0 100px #ee4895;
    }
    10%, 90%{
        color: #111;
        text-shadow: none;
    }
}
.greetings > span:nth-child(2){
    animation-delay: .3s ;
}
.greetings > span:nth-child(3){
    animation-delay: .4s ;
}
.greetings > span:nth-child(4){
    animation-delay: .6s;
}
.greetings > span:nth-child(5){
    animation-delay: .8s;
}
.greetings > span:nth-child(6){
    animation-delay: 1.0s;
}
.greetings > span:nth-child(7){
    animation-delay: 1.2s;
}
.greetings > span:nth-child(8){
    animation-delay: 1.4s;
}
.greetings > span:nth-child(9){
    animation-delay: 1.6s;
}
.greetings > span:nth-child(10){
    animation-delay: 1.8s;
}
.greetings > span:nth-child(11){
    animation-delay: 2.0s;
}
.greetings > span:nth-child(12){
    animation-delay: 2.2s;
}
.greetings > span:nth-child(13){
    animation-delay: 2.4s;
}


.description{
    font-size: 1.5rem;
    margin-bottom: 20px;
}

button {
    margin-top: 20px;
    padding: 12px 25px; /* Sedikit meningkatkan padding untuk kenyamanan */
    font-size: 16px;
    font-weight: bold; /* Menambahkan font-weight untuk teks yang lebih tegas */
    background-color: #ffffff;
    color: white;
    border: none;
    border-radius: 25px; /* Mengurangi border-radius untuk bentuk yang lebih halus */
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); /* Menambahkan bayangan untuk memberikan efek kedalaman */
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease; /* Menambahkan transisi untuk animasi yang halus */
  }
  
  button:hover {
box-shadow: 
    0 0 12px #f154b0, /* Shadow kecil dengan warna pink */
    0 0 50px #ff6aaf, /* Shadow sedang dengan warna pink */
    0 0 100px #ee4895; /* Shadow besar dengan warna magenta */
transform: translateY(-2px); /* Sedikit mengangkat tombol saat di-hover */
}

  
  button:active {
    transform: translateY(0); /* Mengembalikan posisi saat tombol ditekan */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); /* Mengembalikan bayangan asli saat tombol ditekan */
  }


@media screen and (max-width:574px){
    .greetings{
        display: block;
        font-size: 2rem;
        font-weight: 500;
        text-align: center;
    }
    .description{
        font-size: 1rem;
    }
    
    button {
        margin-top: 20px;
        padding: 12px 25px; /* Sedikit meningkatkan padding untuk kenyamanan */
        font-size: 16px;
        font-weight: bold; /* Menambahkan font-weight untuk teks yang lebih tegas */
        background-color: #ffffff;
        color: white;
        border: none;
        border-radius: 25px; /* Mengurangi border-radius untuk bentuk yang lebih halus */
        cursor: pointer;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); /* Menambahkan bayangan untuk memberikan efek kedalaman */
        transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease; /* Menambahkan transisi untuk animasi yang halus */
      }
      
      button:hover {
    box-shadow: 
        0 0 12px #f154b0, /* Shadow kecil dengan warna pink */
        0 0 50px #ff6aaf, /* Shadow sedang dengan warna pink */
        0 0 100px #ee4895; /* Shadow besar dengan warna magenta */
    transform: translateY(-2px); /* Sedikit mengangkat tombol saat di-hover */
}

      
      button:active {
        transform: translateY(0); /* Mengembalikan posisi saat tombol ditekan */
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); /* Mengembalikan bayangan asli saat tombol ditekan */
      }
    }

    .description span {
        font-size: 24px; /* Ukuran font untuk contoh ini */
        color: #fff; /* Warna teks putih saat tidak di-klik */
        transition: color 0.3s ease; /* Transisi warna dengan durasi 0.3 detik */
    }
    
    .description span.clicked {
        box-shadow: 
        0 0 12px #f154b0, /* Shadow kecil dengan warna pink */
        0 0 50px #ff6aaf, /* Shadow sedang dengan warna pink */
        0 0 100px #ee4895; /* Shadow besar dengan warna magenta */
    transform: translateY(-2px); /* Sedikit mengangkat tombol saat di-hover */
        
        color: #faeef5; /* Warna teks berubah menjadi pink saat di-klik */
    }
    